{% extends 'base.html' %}
{% block body %}


<!-- left side starts ---------------- -->
<div class="container-left">

    <img src="https://img.freepik.com/free-vector/code-logo-template-gradient-design_23-2148810395.jpg" alt="">
    <div>
        <h5> <i class="fa fa-dashboard"></i>Dashboard</h5>
        <h5> <i class="fa fa-comment"></i>Message</h5>
        <h5> <i class="fa fa-tasks"></i>My Course</h5>
        <h5> <i class="fa-solid fa-gear"></i>Settings </h5>
        <h5> <i class="fa-solid fa-power-off"></i>Logout</h5>
    </div>
</div>
<!-- left side ends ---------------- -->

 <!-- right side starts ---------------- -->

 <div class="container-right">
    <div class="navbar">
        <div class="menu">
            <i class="fa fa-bars"></i>
        </div>
        <h4>Welcome,Student</h4>
    </div>
    
{% endblock body %}