{% extends 'base.html' %}
{% block body %}

<!-- right side starts ---------------- -->

<div class="container-right">

  <div class="box1">
    <!-- <div class="me"> -->
    <i class="fa fa-tasks user1 icon-rounded"></i>
    <!-- </div> -->
    <div class="me1">
      <h3>Courses</h3>
      <h3>3</h3>
    </div>
  </div>
  <div class="box2">
    <h4>MY COURSE PROGRAM</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">sn</th>
          <th scope="col">My Course</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
           <td><a href="/courses">Data Scientist</a></td>

        </tr>
        <tr>
          <th scope="row">2</th>
         <td> <a href="/courses">Full Stack Development</a></td>

        </tr>
        <tr>
          <th scope="row">3</th>
         <td> <a href="/courses">Software Testing</a></td>

        </tr>
      </tbody>
    </table>

  </div>
  <div class="box3">
    <h4>Notificatios</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">sn</th>
          <th scope="col">Course Name</th>
          <th scope="col">Heading</th>
          <th scope="col">Manage</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>YouTube Automation </td>
          <td>Join Telegram group </td>
          <td><a href="#">View Message</a></td>

        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Software testing with Automation</td>
          <td>New Video is up (Project) </td>
          <td><a href="#">View Message</a></td>

        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Bonus </td>
          <td>Issue is sorted </td>
          <td><a href="#">View Message</a></td>

        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Bonus </td>
          <td>Issue: </td>
          <td><a href="#">View Message</a></td>

        </tr>
        <tr>
          <th scope="row">5</th>
          <td>YouTube Automation </td>
          <td>Telegram Channel for YouTube Automation Course </td>
          <td><a href="#">View Message</a></td>

        </tr>
        <tr>
          <th scope="row">6</th>
          <td>J2EE</td>
          <td>New addition</td>
          <td><a href="#">View Message</a></td>

        </tr>
      </tbody>
    </table>
  </div>

 

</div>
<footer>
  © 2023-2024 LMS - Cyber Code Programming
</footer>




{% endblock body %}