<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Poppins:wght@300&family=Raleway&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Dosis:wght@200&family=Poppins:wght@300&family=Raleway&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="lbody">


    <div class="lcontainor1">
        <form action="" method='post'>
            {% csrf_token %}
            <h3 class="lheading">
                Login
            </h3>
            <br>

            <div>
                <div class="lemail1">
                    <h5>Email</h5>
                </div>
                <div class="lemail2">
                    <i class=" icon fa-regular fa-user"></i>
                    <input type="text" name="username" id="" placeholder="username">
                    <hr>
                </div>
            </div>
            <br>



            <div>
                <div class="lpwd1">
                    <h5>Password</h5>
                </div>
                <div class="lpwd2">
                    <i class=" icon fa-sharp fa-solid fa-lock"></i>
                    <input type="password" name="password" id="" placeholder="1234*****">
                    <hr>
                </div>
            </div>

            <div class="llogin">

                <button type="submit"> Login</button>
            </div>
            <div class="lforget">
                <a href="/password_reset">Forget Password</a>
            </div>

        </form>
    </div>


</body>

</html>