{% extends 'base.html' %}
{% block body %}


<div class="container-right">
    <div class="msg">

        <h3>MESSAGES</h3>
        <div class="msgbox">
            <h4>Message </h4>

            <h4><i class="fa fa-inbox"></i>Admin </h4>
        </div>
        <div class="msgbox">
            <h4>Send Message </h4>
            <div class="chatbox">
                <h4>chatbox</h4>
                <div class="sendedmsg">
                    <h5>sended massage</h5>
                </div>
                <div class="msginput">
                    <input type="text" placeholder="Enter Message Here">
                    <button class="msgbtn">SEND</button>

                </div>



            </div>
        </div>
    </div>




   
</div>
<footer>
    © 2023-2024 LMS - Cyber Code Programming
</footer>


{% endblock body %}